#ku_ukp_search div {
    margin-left: 10px;
    float: right
}

.ku_ukp_review_item {
    padding: 1px 10px;
    white-space: nowrap;
    border-radius: 15px;
}

.ku_ukp_review_item_positive {
    color: green;
    background-color: #ccffcc
}

.ku_ukp_review_item_negative {
    color: white;
    background-color: crimson
}

.ku_ukp_review_item_neutral {
    background-color: black;
    background-color: #cccccc
}

.ku_ukp_search_buttons {
    width: 140px;
}

.ku_ukp_button {
    cursor: pointer;
    padding: 1px;
    margin-right: 5px;
}

#ku_hide {
    margin-left: 20px;
    height: 18px
}

#ku_hide label {
    font-size: 10px;
    vertical-align: top;
    padding-top: 3px;
    display: inline-block;
    line-height: 14px
}

#ku_ukp_summary {
    border-radius: 5px;
    padding: 0 15px 0 15px;
    background-color: white;
    color: black;
    float: right;
    font-size: 10pt;
}

.ku_loader_anim,
.ku_loader_anim:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.ku_loader_anim {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(103, 95, 95, 0.2);
    border-right: 1.1em solid rgba(103, 95, 95, 0.2);
    border-bottom: 1.1em solid rgba(103, 95, 95, 0.2);
    border-left: 1.1em solid #675f5f;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}